<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{name}}</title>
        <meta name="author" content="yanni4night@gmail.com"/>
        <style type="text/css">
        html,body{font:16px/1.5 'Courier New',arial,sans-serif;background: #fff;color: #333;}
        p{font-size: 18px;}
        .content{margin: 0 auto;width: 960px;}
        </style>
    </head>
    <body>
        <center><h1>Hello {{name}}!</h1></center>
        <div class="content">
            <p>This is a default template for {{name}},a local developing environment for front-end working with <a href="https://docs.djangoproject.com">Django</a>.</p>
            <ul></ul>
        </div>
    </body>
</html>